<form novalidate [formGroup]="frmCat" class="form-inline" >
  

  <div class="form-group col-md-4">

    <input type="text" name="category_name" id="category_name" formControlName="category_name" class="form-control" [ngClass]="{'is-valid':f.category_name.valid,'is-invalid':f.category_name.invalid &&f.category_name.dirty}" placeholder="Category Name" />
    <div *ngIf="f.category_name.invalid && f.category_name.dirty&&f.category_name.error?.required" class="invalid-feedback">
      category_name is required
    
    </div>
    <br/>
    <button type="submit" [disabled]="!frmCat.valid" class="btn btn-success">+</button>

    <div *ngIf="f.category_name.invalid && f.category_name.dirty&&f.category_name.error?.minLength" class="invalid-feedback">
      minimum 3 Characters are Required
    </div>

  

  </div>

  
</form>

