<form novalidate [formGroup]="frmCat">
  <div class="form-group col-md-4">
    <label for="">Enter Id</label>
    <input type="number" name="category_id" id="category_id" formControlName="category_id" class="form-control" />
    <div *ngIf="f.category_id.invalid && f.category_id.dirty&&f.category_id.error?.required" class="invalid-feedback">
      category_id is required
    </div>
  </div>

  <div class="form-group col-md-4">
    <label for="">Enter Name</label>
    <input type="text" name="category_name" id="category_name" formControlName="category_name" class="form-control" />
    <div *ngIf="f.category_name.invalid && f.category_name.dirty&&f.category_name.error?.required" class="invalid-feedback">
      category_id is required
    </div>
    <div *ngIf="f.category_name.invalid && f.category_name.dirty&&f.category_name.error?.minLength" class="invalid-feedback">
      minimum 3 Characters are Required
    </div>
  </div>

  <div class="form-group col-md-12">
    <button type="submit" class="btn btn-success btn-lg" >Save</button>
    <a [routerLink]="['/list-Category']" class="btn btn-primary btn-lg ml-3">Back to List</a>
  </div>

</form>
