
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a [routerLink]="['/list-Category']" class="nav-link" routerLinkActive="active">List Category</a>
    </li>

    <li class="navbar-item">
      <a [routerLink]="['/list-Workout']" class="nav-link" routerLinkActive="active">List Workout</a>
    </li>

  </ul>
</nav>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>











