<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-add-category (CategoryAdded)="SaveCategory($event)"></app-add-category>
    </div>
    <div class="col-md-12">
      <table>
        <tr>
          <th>ID </th>
          <th> Name</th>
        </tr>
        <tr *ngFor="let cat of category">
          <td>{{cat.category_id}}</td>
          <td>{{cat.category_name}}</td>
          <td>
            <a [routerLink]="['/edit-Category',cat.id]">Edit</a>
            <a [routerLink]="['/delete-Category',cat.id]">delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
