<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Add Category</h3>

      <app-add-category (CategoryAdded)="SaveCategory($event)"></app-add-category>
      <hr/>
      <input type="text" class="form-control" name="search" [(ngModel)]="cat" placeholder="Search here" />
      <hr/>
    </div>
     
   
    <div class="col-md-12">

        <div *ngFor="let cat of category | filter: cat">

          <app-edit-category [NameAdd]="cat" (EditAdded)="EditCategory($event)" (Deleted)="Delete($event)"> </app-edit-category>

          <hr/>
        </div>
    </div>
  </div>
</div>
